<head>
  <style>
    h1 {
      background-color: grey;
    }
    body {
      background-color: antiquewhite;
    }
  </style>
</head>

<body>
  <header><h1>Cph-Vegan</h1></header>
  <NAV>Navigation</NAV>
  <%- body%>
  <footer>Footer</footer>
</body>
